<div class="toolbar" role="banner">

  <span></span>

  <h6 style="padding-left:1% "><img src="../../../../assets/iconos/usuario.svg" width="30" height="auto">{{usuario}}</h6>
  <div class="spacer"></div>
  <a style="color: black; padding-right: 20px;" class="blanco" (click)="cerrarSesion()" [routerLink]="['/login']" aria-label="Angular on twitter" rel="noopener" href="https://twitter.com/angular" title="Twitter">
    <img src="../../../../assets/iconos/cerrar-sesion.svg" width="20" height="auto">Cerrar Sesión
  </a>

</div>
