<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Start Bootstrap </div>
      <div class="list-group list-group-flush">
        <a class="nav-link" [routerLink]="['/productos']" class="list-group-item list-group-item-action bg-light">Productos</a>
        <a [routerLink]="['/APA']" class="list-group-item list-group-item-action bg-light">Agregar Producto</a>
        <a class="nav-link" [routerLink]="['/registrarA']" class="list-group-item list-group-item-action bg-light">Agregar Usuario</a>
        <a [routerLink]="['/ventasA']" class="list-group-item list-group-item-action bg-light">Ventas</a>
        <a [routerLink]="['/agotarA']" class="list-group-item list-group-item-action bg-light">Productos por agotar</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Agregar Venta</a>
      </div>
    </div>

  </div>


</body>
