div{
  top: 80px;
  //padding: 17px;
  margin-right: 20%;
  margin-left: 5%;
  //padding-right: 50px;
  //align-content: left;
  //alignment: left;
}
.tabla{
  top: 80px;
  //padding: 17px;
  margin-right: 20%;
  margin-left: 5%;
}
