.alert-danger {
  display:block;
  margin:auto;
  color: #721c24;
  background: #f8d7da;
  border-color: #f5c6cb;
  margin-bottom: 5px;
  width: 35%;
  height: auto;
}
.container-error-message{
  padding: 3px;
}

body
{
    background-color: #ECF3FA;
}
label{
  text-align: center;
  display:block;
  margin:auto;
  font-weight: bold;
}

img{
  display:block;
  margin:auto;
  width: 35%;
  height: auto;
  }

form{
  text-align: center;
  display:block;
  margin:auto;
}

input{
  display:block;
  margin:auto;
outline: none;
background-color:  #ECF3FA;
font-weight: bold;
border-left: none;
border-top: none;
border-right: none;
border-bottom: 2px solid black;
width: 35%;
height: auto;
//width: 150px;
}
