
<div [formGroup]="formventa" class="posicion">
<input matInput type="text" formControlName="codigo_barras">
<!--<button mat-raised-button (click)="venta()" type="submit">Buscar</button>-->
  <button (click)="venta()" type="submit"  class="btn btn-info" data-toggle="modal">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
    </svg>
     Buscar
  </button>
</div>
<table class="table table-border" [ngClass]="{'table-dark': mode}">
  <thead class="text-nowrap" class="thead-dark">
  <th>Codigo <span class="ui-column-resizer" dragableColumn> </span></th>
  <th>Nombre<span class="ui-column-resizer" dragableColumn> </span></th>
  <th>Stock<span class="ui-column-resizer" dragableColumn> </span></th>
  <th>Cantidad<span class="ui-column-resizer" dragableColumn> </span></th>
  <th>Precio Unitario</th>
  <th>Actions</th>
  </thead>
  <tbody>
  <tr>
    <td>{{id}} <span class="ui-column-resizer" dragableColumn> </span></td>
    <td>{{nombre}}<span class="ui-column-resizer" dragableColumn> </span></td>
    <td>{{stock}}<span class="ui-column-resizer" dragableColumn> </span></td>
    <td>
      <span class="ui-column-resizer" dragableColumn> </span>
      <div [formGroup]="formcantidad">
        <input matInput type="text" formControlName="cantidad">
      </div>
    </td>
    <td>{{precio}}</td>
    <td>
      <!--<button mat-raised-button type="submit" (click)="addRow()">Agregar</button>-->
      <button (click)="addRow()"  type="button" class="btn btn-outline-success">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
        </svg>
        Agregar
      </button>
    </td>
  </tr>
  </tbody>
</table>
<form [formGroup]="userTable">
  <table class="table table-border" [ngClass]="{'table-dark': mode}">
    <thead class="text-nowrap" class="thead-dark">
    <!--<th>Codigo <span class="ui-column-resizer" dragableColumn> </span></th>-->
    <th>Nombre<span class="ui-column-resizer" dragableColumn> </span></th>
    <th>Stock<span class="ui-column-resizer" dragableColumn> </span></th>
    <th>Cantidad<span class="ui-column-resizer" dragableColumn> </span></th>
    <th>Precio Unitario</th>
    <th>Total</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
      <tr *ngIf="group.get('isEditable').value" [formGroupName]="i" >
        <!--<div >
          <td>
            <input matInput type="text" formControlName="codigo">
          </td>
          </div>-->
        <td >
          <input matInput type="text"  id="txt_nombre" formControlName="nombre" disabled >
        </td>
        <td >
          <input matInput type="text" id="txt_stock" formControlName="stock" disabled>
        </td>
        <td >
          <input matInput type="text" id="txt_cantidad" formControlName="cantidad" disabled>
        </td>
        <td >
          <input matInput type="text" id="txt_precio" formControlName="precio" disabled>
        </td>
        <td >
          <input matInput type="text" id="txt_total" formControlName="total" disabled>
        </td>
        <td>
          <!--<button (click)="deleteRow(i, group.get('total').value)">Eliminar</button>-->
          <button (click)="deleteRow(i, group.get('total').value)"  type="button" class="btn btn-danger">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr *ngIf="!group.get('isEditable').value" >
        <td>
          {{group.get('codigo').value}}
        </td>
        <td>
          {{group.get('nombre').value}}
        </td>
        <td>
          {{group.get('stock').value}}
        </td>
        <td>
          {{group.get('cantidad').value}}
        </td>
        <td>
          {{group.get('precio').value}}
        </td>
        <td>
          {{group.get('total').value}}
        </td>
        <td>
          <button (click)="editRow(group)">Editar</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <br>
  <h4>Total:  {{totales}}</h4>
  <div class="action-container">
    <!--<button mat-raised-button type="submit" (click)="addRow()">Agregar</button> -->
    <!--<button mat-raised-button [disabled]="userTable.invalid" type="submit" (click)="postVenta()" >Procesar</button>-->
    <button [disabled]="userTable.invalid" type="submit" (click)="postVenta()"  class="btn btn-info">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z"/>
        <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
      </svg>
      Procesar
    </button>

  </div>
  <!--<h4>Total:  {{totales}}</h4>-->
</form>


<!--
<div class="output">
  <p>Total:  {{totales}}</p>

   <p>Form Data:  {{userTable.value | json}}</p>
   <p>Is Valid: {{userTable.valid}}</p>
</div>
-->
<!--
<table class="table table-border" [ngClass]="{'table-dark': mode}">
  <thead class="text-nowrap">
  <th>Codigo <span class="ui-column-resizer" dragableColumn> </span></th>
  <th>Nombre<span class="ui-column-resizer" dragableColumn> </span></th>
  <th>Stock<span class="ui-column-resizer" dragableColumn> </span></th>
  <th>Cantidad<span class="ui-column-resizer" dragableColumn> </span></th>
  <th>Precio</th>
  <th>Total</th>
  <th></th>
  </thead>
</table>
-->
