div{
  top: 80px;
  //padding: 17px;
  margin-right: 20%;
  margin-left: 5%;
 // padding: 20px;
 //margin-right: 130px;
  //margin-left: 130px;
  //padding-right: auto;
  //align-content: left;
  //alignment: left;
}
.tabla{
  top: 80px;
  //padding: 17px;
  margin-right: 20%;
  margin-left: 5%;
}
.alinearInputs2 {
  float: left;
  width: 50%;
}
body div{
  top: 0px;
}

