
<!--<div class="row">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
  </table>
</div>-->

<div class="row" >
  <div class="col-12">
    <table datatable [dtOptions]="dtOptions2" [dtTrigger]="dtTrigger2" class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Stock_mínimo</th>
        <th>Código_barras</th>
        <th>Opción</th>
        <th>Opción</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of info">
        <td><img src={{item.imagen}} alt="" width="60" height="60"></td>
        <td>{{item.nombre}}</td>
        <td>{{item.descripcion}}</td>
        <td>{{item.precio}}</td>
        <td>{{item.stock}}</td>
        <td>{{item.stock_minimo}}</td>
        <td>{{item.codigo_barras}}</td>
        <td>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)="select_product(item.id, item.imagen, item.nombre, item.descripcion, item.precio, item.stock, item.stock_minimo, item.codigo_barras)">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarModal" (click)="select_product(item.id, item.imagen, item.nombre, item.descripcion, item.precio, item.stock, item.stock_minimo, item.codigo_barras)">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
            </svg>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>


<body>
<!-- Modal -->
<div  class="modal fade modal2" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Producto!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
          <form [formGroup]="formRegistrar">
            <fieldset class="alinearInputs2">
              <div class="form-group">
                <label for="imagen" class="abc">Imagen:</label>
                <input type="file" class="form-control " id="imagen" aria-describedby="emailHelp" formControlName="imagen">
                <div class="alert-danger" *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)">
                  <div class="container-error-message" *ngIf="imagen.errors.required">
                    Campo requerido
                  </div>
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="nombre" class="abc">Nombre:</label>
                <input type="text" class="form-control " id="nombre" aria-describedby="emailHelp" name="nombre" formControlName="nombre" [(ngModel)]="producto.nombre" >
                <div class="alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                  <div class="container-error-message" *ngIf="nombre.errors.required">
                    Campo requerido
                  </div>
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="descripcion" class="abc">Descripción:</label>
                <input type="text" class="form-control " id="descripcion" aria-describedby="emailHelp" formControlName="descripcion" [(ngModel)]="producto.descripcion" >
                <div class="alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                  <div class="container-error-message" *ngIf="descripcion.errors.required">
                    Campo requerido
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="precio" class="abc">Precio:</label>
                <input type="number" class="form-control" id="precio" name="precio" formControlName="precio" [(ngModel)]="producto.precio">
                <div class="alert-danger" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
                  <div class="container-error-message" *ngIf="precio.errors.required">
                    Campo requerido
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="alinearInputs">
              <div class="form-group">
                <label for="stock" class="abc">Stock:</label>
                <input type="number" class="form-control" id="stock" name="stock" formControlName="stock" [(ngModel)]="producto.stock">
                <div class="alert-danger" *ngIf="stock.invalid && (stock.dirty || stock.touched)">
                  <div class="container-error-message" *ngIf="stock.errors.required">
                    Campo requerido
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="stock_minimo" class="abc">Stock_Mínimo:</label>
                <input type="number" class="form-control" id="stock_minimo" name="stock_minimo" formControlName="stock_minimo" [(ngModel)]="producto.stock_minimo">
                <div class="alert-danger" *ngIf="stock_minimo.invalid && (stock_minimo.dirty || stock_minimo.touched)">
                  <div class="container-error-message" *ngIf="stock_minimo.errors.required">
                    Campo requerido
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="codigo_barras" class="abc">Código_barras:</label>
                <input type="number" class="form-control" id="codigo_barras" name="codigo_barras" formControlName="codigo_barras" [(ngModel)]="producto.codigo_barras">
                <div class="alert-danger" *ngIf="codigo_barras.invalid && (codigo_barras.dirty || codigo_barras.touched)">
                  <div class="container-error-message" *ngIf="codigo_barras.errors.required">
                    Campo requerido
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="update_product()">Editar</button>
      </div>
    </div>
  </div>
</div>
</body>



<body>
<!-- Modal eliminar-->
<div  class="modal fade modal2" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eliminarModalLabel">¿Realmente quieres eliminar este producto?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
          <form [formGroup]="formRegistrar">
            <fieldset class="alinearInputs2">
              <div class="form-group">
                <label for="nombre" class="abc">Nombre:</label>
                <input type="text" disabled class="form-control "  id="nombr" aria-describedby="emailHelp" name="nombre" formControlName="nombre" [(ngModel)]="producto.nombre" >

              </div>
              <br>
            </fieldset>
            <fieldset class="alinearInputs">

              <div class="form-group">
                <label for="descripcion" class="abc">Descripción:</label>
                <input type="text" disabled class="form-control " id="descripcion2" aria-describedby="emailHelp" formControlName="descripcion" [(ngModel)]="producto.descripcion" >
                <div class="alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                  <div class="container-error-message" *ngIf="descripcion.errors.required">
                    Campo requerido
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="delete_product(producto.id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
</body>
