<h1>Iniciar Sesión</h1>
<p>Ingresa tus datos</p>

<form [formGroup]="formLogin">
  <div class="form-group">
    <label for="exampleInputEmail1">Correo:</label>
    <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" placeholder="Correo">
    <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div class="container-error-message" *ngIf="email.errors.required">
        Este campo es requerido
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="contrasena">Contraseña:</label>
    <input type="password" class="form-control" id="contrasena" name="contrasena" formControlName="password" required minlength="8" placeholder="contraseña">
    <div class="alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
      <div class="container-error-message" *ngIf="password.errors.required">
        Este campo es requerido
      </div>
    </div>

  </div>
  <button type="button" class="btn btn-primary" (click)="login()" [disabled]="!formLogin.valid">Iniciar sesión</button>
</form>

<hr>
<!--<p>¿No tienes cuenta?<a href="/registro"> Registrate</a></p>-->

