<div class="row">
  <div class="col-12">
    <h2>¡Productos por agotar!</h2>
    <br>
    <table datatable [dtOptions]="dtOptions2" [dtTrigger]="dtTrigger2" class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Stock_mínimo</th>
        <th>Código_barras</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of info" class="table-warning">
        <td><img src={{item.imagen}} alt="" width="80" height="60"></td>
        <td>{{item.nombre}}</td>
        <td>{{item.descripcion}}</td>
        <td>{{item.precio}}</td>
        <td>{{item.stock}}</td>
        <td>{{item.stock_minimo}}</td>
        <td>{{item.codigo_barras}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

