/*img{
  //padding-top: 2px;
  padding-left: 30%;
  //position: absolute;
  position: absolute;
}*/
.img{
  background-image: url("../../assets/img/humo.jpg");
  background-repeat: no-repeat;
  //background-position: left bottom;
  background-position: left bottom;
  //background-attachment: fixed;

}
