
<body class="padding">
  <br>
  <div align="center">
<H2>Agregar venta </H2>
    <br>
  </div>
<div class="col-sm-18">
<form [formGroup]="formRegistrar">
  <fieldset class="alinearInputs2">
    <br>
    <div class="form-group">
    <label for="precio" class="abc">Nombre_vendedor:</label>
    <input type="number" class="form-control" id="precio" name="precio" formControlName="precio">
    <div class="alert-danger" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
      <div class="container-error-message" *ngIf="precio.errors.required">
        Campo requerido
      </div>
    </div>
  </div>
  </fieldset>
  <fieldset class="alinearInputs">
  <div class="form-group">
    <label for="codigo_barras" class="abc">Código_barras:</label>
    <input type="number" class="form-control" id="codigo_barras" name="codigo_barras" formControlName="codigo_barras">
    <div class="alert-danger" *ngIf="codigo_barras.invalid && (codigo_barras.dirty || codigo_barras.touched)">
      <div class="container-error-message" *ngIf="codigo_barras.errors.required">
        Campo requerido
      </div>
    </div>
  </div>
  </fieldset>
  <br>
  <button type="button" class="btn btn-dark" (click)="Agregar_producto()" [disabled]="!formRegistrar.valid">Guardar</button>
</form>
</div>
  <br>
</body>

